.container {
  background-color: rgb(37, 37, 37);
  /* height: 100px; */
  color: white;
  padding: 5px;
  font-size: 30px;
}
.name {
  color: gray;
  padding-left: 10px;
}

@media (max-width: 700px) {
  .container {
    font-size: 25px;
  }
}
