.container {
  background-color: rgb(37, 37, 37);
  /* height: 100px; */
  color: white;
  padding: 5px;
  font-size: 30px;
}
.name {
  color: gray;
  padding-left: 10px;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(0, 140, 255);
}

@media (max-width: 700px) {
  .container {
    font-size: 15px;
  }
}
